{% extends "base.html" %} {% load static %} {% block title %}Pixeliowall - Image
Details{% endblock %} {% block content %}
<main class="detail-container">
  <div class="detail-card">
    <div class="detail-image">
      <img src="{{ image.original_image.url }}" alt="{{ image.alt_text }}" />
    </div>
    <div class="detail-info">
      <h2>{{ image.image_title }}</h2>
      <p><strong>Photographer:</strong> {{ image.author }}</p>
      <p>
        {% if image.is_paid %}
        <strong>Price:</strong>
        ${{ image.image_price }} {% endif %}
      </p>
      {% if image.image_short_description %}
      <p class="detail-desc">{{ image.image_detailed_description }}</p>
      {% endif %}

      <div class="detail-actions">
        {% if image.is_paid %}
        <button class="btn-action download-btn" data-id="{{ image.id }}">
          <i class="fa-solid fa-cart-shopping"></i> Buy Now
        </button>
        {% else %}
        <button class="btn-action download-btn" data-id="{{ image.id }}">
          <i class="fa-solid fa-download"></i> Download
        </button>
        {% endif %}
        <button class="btn-action favorite-btn" data-id="{{ image.id }}">
          <i class="fa-regular fa-heart"></i> Add to Favorites
        </button>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block extra_scripts %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
